<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlcloud/" xmlns:set="http://www.sitecore.net/xmlcloud/set/"
			   xmlns:env="http://www.sitecore.net/xmlcloud/env/">
	<sitecore>
		<layoutService env:require="Development">
			<configurations>
				<config name="sxa-jss">
					<rendering>
						<renderingContentsResolver>
							<IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
						</renderingContentsResolver>
					</rendering>
				</config>
			</configurations>
		</layoutService>
	</sitecore>
</configuration>
